<div class="btn-group" role="group" aria-label="...">
    <a href="{{ path_for('generator.level',{part: 'legs'}) }}" type="button" class="btn btn-default">Legs</a>
    <a href="{{ path_for('generator.level',{part: 'upperbody'}) }}" type="button" class="btn btn-default">Upper</a>
    <a href="{{ path_for('generator.level',{part: 'core'}) }}" type="button" class="btn btn-default">core</a>
</div>