<form action="{{ path_for('generator.level',{part: part.part, level: part.level}) }}" method="post">

    <input type="checkbox" name="equipment[]" value="bodyweight">Bodyweight

    <input type="checkbox" name="equipment[]" value="fitball">Fitball

    <input type="checkbox" name="equipment[]" value="trx">Trx

    <input type="checkbox" name="equipment[]" value="medball">Medball
    {% if errors.equipment %}
        <span class="help-block">
                {{ errors.equipment | first }}
        </span>
    {% endif %}

    <input type="submit" class="btn btn-success" value="Submit">

    {{ csrf.field | raw }}
</form>

