<form action="{{ path_for('generator.level',{part: param.part, level: param.level}) }}" method="post">
    <div class="checkbox">
    <input type="checkbox" name="equipment[]" value="bodyweight" {% if 'bodyweight' in param.equipment %}checked {% endif %}>Bodyweight
    </div>
    <div class="checkbox">
    <input type="checkbox" name="equipment[]" value="fitball"  {% if 'fitball' in param.equipment %}checked {% endif %}>Fitball
    </div>
    <div class="checkbox">
    <input type="checkbox" name="equipment[]" value="trx" {% if 'trx' in param.equipment %}checked {% endif %}>Trx
    </div>
        <div class="checkbox">
    <input type="checkbox" name="equipment[]" value="medball" {% if 'medball' in param.equipment %}checked {% endif %}>Medball
        </div>

    {% if errors.equipment %}
        <span class="help-block">
                {{ errors.equipment | first }}
        </span>
    {% endif %}

    <input type="submit" class="btn btn-success" value="Submit">

    {{ csrf.field | raw }}
</form>

