<div class="btn-group" role="group" aria-label="...">
    <a href="{{ path_for('generator',{part: part | first, aim: 'size'}) }}" type="button" class="btn btn-default">size</a>
    <a href="{{ path_for('generator',{part: part | first, aim: 'strength'}) }}" type="button" class="btn btn-default">strength</a>
    <a href="{{ path_for('generator',{part: part | first, aim: 'endurance'}) }}" type="button" class="btn btn-default">endurance</a>
</div>
