<form action="{{ path_for('generator',{part: param.part , aim: param.aim , level: param.level}) }}" method="post">

    <input type="checkbox" name="equipment[]" value="bodyweight" {% if 'bodyweight' in param.equipment %}checked {% endif %}>Bodyweight

    <input type="checkbox" name="equipment[]" value="dumbbells" {% if 'dumbbells' in param.equipment %}checked {% endif %}>Dumbbell

    <input type="checkbox" name="equipment[]" value="barbell" {% if 'barbell' in param.equipment %}checked {% endif %}>Barbell
    {% if errors.equipment %}
        <span class="help-block">
                {{ errors.equipment | first }}
        </span>
    {% endif %}

    <input type="submit" class="btn btn-success" value="Submit">

    {{ csrf.field | raw }}
</form>

