<form action="{{ path_for('generator',{part: part.part , aim: part.aim , level: part.level}) }}" method="post">

    <input type="checkbox" name="equipment[]" value="bodyweight">Bodyweight

    <input type="checkbox" name="equipment[]" value="dumbbells">Dumbbell

    <input type="checkbox" name="equipment[]" value="barbell">Barbell
    {% if errors.equipment %}
        <span class="help-block">
                {{ errors.equipment | first }}
        </span>
    {% endif %}

    <input type="submit" class="btn btn-success" value="Submit">

    {{ csrf.field | raw }}
</form>

